{% extends '::base.html.twig' %}
{% block body %}

 <li><a href="{{ path('acme_core_contactentreprise') }}">Contact pour les entreprises</a></li>
 <li><a href="{{ path('acme_core_inscription') }}">inscription pour les étudiants</a></li>
{% endblock %}