{% extends '::base.html.twig' %}
{% block body %}

{{contenu}}
 <li><a href="{{ path('acme_core_contactentreprise') }}">Contact pour les entreprises</a></li>
 <li><a href="{{ path('acme_core_feedback') }}">feedback des étudiants</a></li>
  <li><a href="{{ path('acme_core_inscription') }}">inscription pour les étudiants</a></li>
{% endblock %}