{% extends '::base.html.twig' %}
{% block title %}
Contact
{% endblock %}
 {% block stylesheet %}
 <link rel="stylesheet" href="{{ asset('css/perso.css') }}">

 {% endblock %}

{% block body %}


 	<div class="case hvr-box-shadow-outset" id="etudiant">
 		<a href="{{ path('acme_core_contactentreprise') }}" class="content">coucou</a>
 	</div>

 	<div class="case hvr-box-shadow-outset" id="entreprise">
 		<a href="{{ path('acme_core_inscription') }}" class="content">coucou </a>
 	</div>

{% endblock %}