{% extends '::base.html.twig' %}

{% block title%} Description {% endblock %}

 {% block body %}

		<!-- Main -->
			<div class="wrapper">
				<div class="container" id="main">
					<div class="row 150%">
						<div class="4u 12u(narrower)">

							<!-- Sidebar -->
								<section id="sidebar">
									<section>
										<header>
											<h3>Trailer de l'evenement</h3>
										</header>
										<p>Integrer une video youtube ici</p>
										
									</section>
									<section>
										<header>
											<h3>Evenement facebook - Page facebook</h3>
										</header>
										<p> <a href="https://facebook.com/JuniorISEP.PARIS" target ='_blank'>lien Facebook</a></p> <br />
										
									</section>
								</section>

						</div>
						<div class="8u 12u(narrower) important(narrower)">

							<!-- Content -->
								<article id="content">
									<header>
										<h2>Description</h2>
										<p>PROJECTeam est le premier évenement inter-ecole organisé par la JuniorISEP dans ses nouveaux locaux à Issy-les-moulineaux</p>
									</header>
									<p>{{contenu}}</p>
								</article>

						</div>
					</div>
					<div class="row features">
						<section class="4u 12u(narrower) feature">
							
							<header>
								<h3>Inscrivez-Vous</h3>
							</header>
							<p>Vous êtes intéréssés ? Participez !!</p>
							<ul class="actions">
                            <li class="break"><a href="{{ path('acme_core_contact') }}" class="button">Participer</a></li>
							</ul>
						</section>
						<section class="4u 12u(narrower) feature">
							
							<header>
								<h3>Nos Sponsors</h3>
							</header>
							<p>Découvrez nos partenaires de ses évements et quelques lots à gagner.
							Des lots d'une valeur de 50 à 250€ à gagner</p>
							<ul class="actions">
                            <li class="break"><a href="{{ path('acme_core_sponsor') }}" class="button">Nos SPonsors</a></li>
							</ul>
						</section>
						<section class="4u 12u(narrower) feature">

							<header>
								<h3>Partagez</h3>
							</header>
							<p>Have fun. Plus on est de fou, plus on rit. N'hésitez pas à partager l'evenement ! Et nous suivre sur facebook pour avoir des nouvelles sur l'evenement </p>
							<ul class="actions">
								<li><a href="#" class="button">Like and share</a></li>
							</ul>
						</section>
					</div>
				</div>
			</div>

{% endblock %}