{% extends '::base.html.twig' %}

{% block title%} Accueil {% endblock %}

{% block stylesheet %}

<style>
		.square{
			float : left;
			position: relative;
			width: 50%;
			height:190px;
			padding-bottom: 1%;
			margin:auto;
			background-position: center center;
			background-repeat: no-repeat;
			background-size:cover;
			/*border: 1px solid black;*/
		}
		.square:hover{
			border: 2px solid black;

		}
		#img1{
			background-color: #6f5499;
		}
		#img2{
			background-color: #707676;
		}
		#img3{
			background-color: #4d8a85;
		}
		#img4{
			background-color: #fcfd00;
		}
		.w{
			text-align: center;
			color:white;
			font-size: 30px;
			font-family: Arial;
		}

		#img4 #b{
			color:black;
		}
		h4{
			text-align: center;
			color:white;
			font-size: 20px;
			font-style: italic;
		}
		#img4 h4{
			color:black;
		}
		
		#madeby{
			

		}

		#willbe{


		}

		


	</style>

{% endblock %}


{% block body %}
{{contenu}}
<br />
			<div id="wrapper-grid">
				<div class="square hvr-bounce-to-right" id="img1" >
					<a href="{{ path('acme_core_description') }}" title="Description">
						<h2 class="w">Description</h2>
						<h4>Principe, but et récompense</h4>
					</a>
				</div>
                
                <div class="square hvr-bounce-to-right" id="img2">
					<a href="{{ path('acme_core_sponsor') }}" title="Description">
						<h2 class="w">Sponsors</h2>
						<h4>Partenaires de l'évenement</h4>
					</a>
								
				</div>
                
                <div class="square hvr-bounce-to-right" id="img3">
					<a href="http://www.juniorisep.com" title="Junior ISEP">
						<h2 class="w">Qui sommes nous ?</h2>
						<h4>Junior ISEP</h4>
					</a>
								
				</div>

                <div class="square hvr-bounce-to-right" id="img4">
					<a href="{{ path('acme_core_contact') }}" title="Contact">
						<h2 id="b" class="w">Contact</h2>
						<h4>Etudiant | Entreprise</h4>
					</a>
							
				</div>
			</div>
			




 {% endblock %}
