{% extends '::base.html.twig' %}
{% block title %}
Sponsor
{% endblock %}
 {% block stylesheet %}
 <link rel="stylesheet" href="{{ asset('css/persosponsor.css') }}">

 {% endblock %}

{% block body %}
{{contenu}}

<h1 id="titre_sponsor">Nos sponsors</h1>

<table style="margin-left: 0px;">
	<tr>
		<td>
			
				{% for product in products %}

		   					 	<img src="{{asset('logo/' ~product.imageName)}}" alt="" style="width:200px; height:200px; margin-left:40px;">
                        	

				{% endfor %}
			
		</td>
	</tr>
</table>

{% endblock %}