{% extends '::base.html.twig' %}
{% block title %}
Sponsor
{% endblock %}
 {% block stylesheet %}
 <link rel="stylesheet" href="{{ asset('css/persosponsor.css') }}">

 {% endblock %}

{% block body %}

<h1 id="titre_sponsor">Nos sponsors</h1>


{{contenu | raw}}

<table style="margin-left: 0px;">
	<tr>
		<td>
			
				{% for product in products %}
					<ul style="display : inline-block">
						<li><img src="{{asset('logo/' ~product.imageName)}}" alt="" style="width:280px; height:200px; margin-left:40px;"></li>
						<li style="text-align: center"><i>{{ product.nom }}</i></li>
					</ul>
				{% endfor %}
			
		</td>
	</tr>
</table>

{% endblock %}