{% extends '::baseb.html.twig' %}

{% block body %}


<br />

{% for entreprise in entreprises %}
<tr>
	<td>
 		Nom de l'entreprise  :    {{entreprise.nom | escape}}
 	</td>
 	<td>
 		    =>     Description de l'entreprise   :   {{entreprise.remarque | escape}}
 	</td>
 </tr>
 <br /><br />
 
{% endfor %}

<br/>
{% endblock %}
