{% extends '::baseb.html.twig' %}

{% block body %}

{% for feedbackuser in feedbackusers %}
 <tr>
	<td>
 		Email    :    {{feedbackuser.email | escape}}
 	</td>
		    => Remarque    :    
 	<td>
 		{{feedbackuser.remarque | escape}}
 	</td>
 </tr>
 <br /><br />
{% endfor %}

{% endblock %}