{% extends '::baseb.html.twig' %}

{% block body %}

<br />
<li><a href"https://docs.google.com/a/juniorisep.com/spreadsheets/d/1PxShYxgn4KUg-8zXEbwE2cPVBmh7Iq31xydwf3CqkU0/edit#gid=1792540645" width="800" height="600" frameborder="0">Voici la liste des inscrit</a>
</li>
<br />
<i> * Attention, pour avoir les accès, demander à Thomas DEUDON </i>
<br/>
{% endblock %}