{% extends '::baseb.html.twig' %}

{% block body %}

Page de modif

<br />
<form action="{{ path('acme_core_modif') }}" {{ form_enctype(form) }} method="POST">
    {{ form_widget(form) }}
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-default">Cancel</button>
    </div>
</form>

<br />

<br/>
<script>
	function changeValue(){
		var endroit = $('#acme_corebundle_modif_endroit').val();
		var url = "{{ path('acme_core_modifResult' , { 'endroit' : 'endroit' }) }}";
		url = url.replace("endroit", endroit);

		$.ajax({
		  url: url,
		  success: function(reponse){
		 	 $( '#acme_corebundle_modif_contenu' ).val( reponse );
		  }
		});
	}
	changeValue();
	$('#acme_corebundle_modif_endroit').change(function(){
		changeValue();
	})
</script>
{% endblock %}